<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/./static/style/tailwind.css">
    <link rel="stylesheet" href="/static/style/stylesheet.css">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <script type="text/javascript" src="{{ url_for('static', filename="js/main.js") }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="font-roboto">
  <div class="h-screen relative"><!--Fullscreen Container-->
    <div class="{{ session['alertFlash'] }} absolute top-0 w-full flex items-center" id="flash" role="alert">
      <!-- {{session.pop('flash_box',None)}} -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p class="alert_msg flex-auto py-1 px-4">{{ message }}</p>
          {% endfor %}
          <button type="bg" class="text-2xl py-1 px-4 focus:outline-none" onclick="document.getElementById('flash').style.visibility='hidden'">
            <span aria-hidden="true">&times;</span>
          </button>
        {% endif %}
      {% endwith %}
  </div>
  <div class="flex flex-col lg:bg-gray-100 items-center h-full w-full lg:p-3" id="body"><!--dynamicPageContainer: fullscreen-->
                {% block content %}{% endblock %}
  </div>
  </div>
</body>
</html>
