{% extends 'base.html'%}
{% block title %} Sales {% endblock %}
{% block content %}

{% if customer_details : %}
{% set name = customer_details[0] %}
{% else : %}
{% set name = "" %}
{% endif %}

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<h1>Sales</h1>
<form action="#" method="post">
  <div class="form-group">
    <label for="customer_name">Name customer</label>
    <input type="text" class="form-control" id="customer_name"  value="{{name}}" name="customer_name" placeholder="Enter Name of Customer">
  </div>
  <div class="form-group">
    <label for="product_name">Product Name:</label>
    <input type="text" class="form-control" id="product_name"  name="product_name" placeholder="Enter Product name">
  </div>
  <div class="form-group">
    <label for="qty">Quantity</label>
    <input type="number" class="form-control" id="qty"  name="qty" placeholder="Enter quantity">
  </div>
  <div class="d-flex flex-row justify-content-between">
  <button type="submit" class="btn btn-outline-danger flex-fill mr-2">Done</button>
  <button type="submit" class="btn btn-outline-success flex-fill ml-2">Next</button>
  </div>
</form>

<script type="text/javascript">

  $( function() {
      
  
      $( "#customer_name").autocomplete({
      source: function( request, response ) {
          $.ajax( {
          url: "autocomplete_customer_name",
          dataType: "json",
          data: {
              term: request.term
          },
          success: function( data ) {
              response( data );
          }
          } );
      },
      minLength: 2,
      
      } );
  } );
  </script>
{% endblock %}
