{% extends 'base.html' %}
{% block title %}View Customers{% endblock %}
{% block content %}

<h1>View Customers</h1>
<span id = "pass"></span>
<table class="table">
  <thead class="thead-light">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone no</th>
    <th>Location</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  {% for row in value %}
    <tr>
      <td><a href="/view_customer?customer_id={{row[4]}}">{{row[0]}}</a></td>
      <td>{{row[1]}}</td>
      <td>{{row[2]}}</td>
      <td>{{row[3]}}</td>
      <td><a href="edit_customer/{{row[4]}}"> <-Edit </a></td>
        <td>
       <button type="button" id="demo{{row[4]}}" class="btn btn-danger">Delete</button>
        </td>
    </tr>
      <script type="text/javascript">
        document.getElementById("demo{{row[4]}}").addEventListener("click", x);
          function x() {
            document.getElementById("pass").innerHTML='<form action="#" method="POST"><div class="form-group"><label for="password">Enter your Password {{session['user_name']}} :</label><input type="password" class="form-control" id="password"  name="password" placeholder="Password" required><input type="hidden" id = "dltcustomer" name="dltcustomer" value={{row[4]}}></div><button type="submit" class="btn btn-primary btn-block">Submit</button></form> {{row[4]}}';
          }

      </script>
  {% endfor %}
</table>
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
      <span class="close">&times;</span>
      <form action="#" method="POST">
        <div class="form-group">
        <label for="password">Enter your Password {{session['user_name']}} :</label>
        <input type="password" class="form-control" id="password"  name="password" placeholder="Password" required>
        <!-- <input type="hidden" id = "dltcustomer" name="dltcustomer" value={{row[4]}}></div> -->
        <button type="submit" class="btn btn-primary btn-block" id = "dltcustomer" name="dltcustomer" value={{row[4]}}>Submit</button>
      </form> {{row[4]}}
  </div>
</div>
<script>
  // Get the modal
  var modal = document.getElementById("myModal");
  
  // Get the button that opens the modal
  var btn = document.getElementById("demo{{row[4]}}");
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks the button, open the modal 
  btn.onclick = function() {
    modal.style.display = "block";
  }
  
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
  }
  
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
  </script>

{% endblock %}
